@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #777;
    background-color: cornflowerblue;
}
span {
    display: block;
}
.container {
    width: 90%;
    max-width: 1360px;
    margin: 3rem auto 0 auto;
}
img {
    max-width: 150px;
    height: auto;
    cursor: pointer;
}
#main {
    height: 100vh;
}
.game__title {
    color: #000;
    font-family: Josefin, sans-serif;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
.game__round {
    text-align: center;
    color: #fff;
    font-size: 3rem;
    margin-bottom: 2.5rem;
}
.game__container {
    display: flex;
    justify-content: space-between;
}
.game__container .images {
    display: flex;
    justify-content: center;
}
.game__container p {
    text-align: center;
    margin-bottom: 1.3rem;
}
.game__container  .game__score {
    color: #fff;
     
    
    font-size: 2rem;
}
.game__container .star {
    font-size: 1.3rem;
    
}
.game__container  .computer-img {
    margin: 0 auto;
}
.computer__container,.player__container {
    flex: 1;
}

.star-white {
    color: #fff;
}
.modal__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(95, 13, 116, 0.9);
    display: none;
}
.modal__container .modal {
    width: 95%;
    max-width: 600px;
    margin: 11rem auto;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.modal__container p {
    font-size: 2rem;

}
.modal__container .score__container {
    font-size: 4rem;
    font-weight: bold;
}
.modal__container span {
    display: inline-block;
}
.modal__container .score-player {
    margin-right: 1.3rem;
}
.modal__container .score-computer {
    margin-left: 1.3rem;
}
.modal__container a {
    display: inline-block;
    margin-top: 1rem;
    text-decoration: none;
    background-color: #fff;
    color: #262626;
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
    border-radius: 5px;
}


/* classes added by js */
.selected {
    padding: 0;
    
    border-radius: 50%;
    box-shadow: 5px 5px 22px 10px rgba(255, 255, 255, 0.7);
}

#main #message {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: #fff;
    margin-top: 3rem;
}
 
 
/* media queries */
@media (max-width: 1100px){
    .player__container {
        justify-content: flex-start;
    }
    .game__container {
        justify-content: flex-end;
    }
    .game__title {
        font-size: 3.5rem;
    }
}


@media (max-width: 900px){
    .game__title {
        font-size: 3.5rem;
    }
    .game__round {
        font-size: 3rem;
    }
    .game__container {
        flex-direction: column;
        
    }
}
